
.showCanvas{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,.5);
    .save{
        width: 376rpx;
        height: 88rpx;
        background-color: rgb(15,135,234);
        border-radius: 8rpx;
        position: absolute;
        bottom: 70rpx;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 88rpx;
        color: white;
    }
}
